@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-hafi-bg text-hafi-dark antialiased;
  min-height: 100vh;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.safe-area-pb {
  padding-bottom: env(safe-area-inset-bottom, 0);
}
